
/**
 * IMPORTS
 */
 @import './styles/globals.less';


body {
  color: @color_green;
}

main {
  max-width: 90vmin;
}

#amount__container {
  display: flex;
  justify-content: space-between;
  max-width: 30vw;
  min-width: 300px;
  span {
    padding: 1vmin;
    color: @color_red;
  }
}
#inputValue {
  max-width: 30vw;
  min-width: 300px;
}
summary {
  max-width: 30vw;
  min-width: 300px;
}
#saveValue {
  background-color: red;//  @color_blue;
  border-color: @color_blue - #212121;
}
#expenseType__list_container{
  max-width: 30vw;
  min-width: 300px;
  float: left;
  position: absolute;
  background-color: rebeccapurple;
  padding: .5vmin;
  max-height: 76vh;
  overflow-y: auto;
}


.expenseType__option_text{
  color:white;
}

.expenseType__option {
  background-color: @color_blue;
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
  list-style: none;
  margin: .5vmin;
  text-transform: capitalize;
}
