
/**
 * IMPORTS
 */
 @import './styles/globals.less';

body {
  //background-color: @color_black;
  color: @color_green;
}

span{
  .material_btn();
  background-color: @color_red;
  margin-left: -5px;
  margin-bottom: -1px;
  box-shadow: initial;
}
input {
  margin: 0;
  padding: .75vmin 3vmin;
}

.m_btn {
  .material_btn();
}
